

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body,
html {
  background: url("../src/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #ffff;
}

.App {
  max-width: 700px;
  position:relative;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.Container {
  background: rgb(255, 255, 255, 0.4);
  padding: 20px 30px;
  position: absolute;
  margin: 60px auto;
  width: 50%;
  max-width: 700px;
  width: 550px;
  border-radius: 20px;
  color: white;
}

#searchbox {
  border-radius: 20px;
  padding: 6px 120px 6px 12px;
  border: none;
  margin-right: 10px;
}

.Resultcontainer .btn-outline-light {
  border-radius: 30px;
  font-size: 15px;
  color: #f8f9fa;
  border-color: #f8f9fa;
  background-color: none;
}

.result-container {
  margin-top: 20px;
}

a {
  color: white;

}

.Units .units {
 display: inline;
  position: absolute;
  left: 420px;
  top: -60px;
  z-index: 100;
}

.wind-humidity {
  list-style: none;
  text-align: left;
  margin-top: -20px;
}


.temperature-number {
  font-size: 80px;
}

h1 {
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 5px;
}

p {
  line-height: 6px;
  font-size: 16px;
}


.forecast-container {
  margin-top: 40px;
}

.align-items-start {
  border-top: solid 1px;
  padding-top: 10px;
  text-align: center;
}

.align-items-center > div > i {
  font-size: 35px;
  padding: 5px 0 5px 25px;
  text-align: center;
}

.align-items-end {
  text-align: center;
}

ul {
  padding: 170px 0px 0px 70px;
}

h6 {
  display: block;
  text-align: center;
  font-size: 12px;
  color: white;
  padding-top: 670px;
}

.fa-github {
  font-size: 12px;
}

.Units #celsius-symbol:hover {
  color: white;
  text-decoration: underline;
}

.Units #fahrenheit-symbol:hover {
  color: white;
  text-decoration: underline;
}

#fahrenheit-symbol,
#celsius-symbol {
  text-decoration: none;
  color: white;
}
