

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body,
html {
  font-family: sans-serif;
  background: url("../src/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #ffff;
}

.App {
  max-width: 700px;
  margin: 0px auto;
}

.Container {
  background: rgb(255, 255, 255, 0.4);
  padding: 30px;
  position: absolute;
  margin-bottom: 20px;
  top: 10%;
  left: 30%;
  right: 20%;
  width: 50%;
  max-width: 700px;
  width: 500px;
  border-radius: 20px;
  color: white;
}

#searchbox {
  border-radius: 20px;
  padding: 6px 100px 5px 12px;
  border: none;
}

#description {
  margin-top: -20px;
}
.btn-outline-light {
  border-radius: 30px;
  margin-left: 5px;
  font-size: 15px;
  color: #f8f9fa;
  border-color: #f8f9fa;
  background-color: none;
}

.result-container {
  margin-top: 20px;
}

a {
  color: white;
}

.units {
  display: inline;
  float: right;
  margin-top: -6%;
}

.wind-humidity {
  list-style: none;
  text-align: left;
}

i {
  font-size: 60px;
}

.temperature-number {
  font-size: 80px;
}
h1 {
  font-weight: bold;
  text-transform: capitalize;
}

h3 {
  font-size: 50px;
  margin-top: 14px;
  text-align: center;
}

h2 {
  padding: 30px 0 0 0;
}

.forecast-container {
  margin-top: 100px;
}

.align-items-start {
  border-top: solid 1px;
  padding-top: 10px;
  text-align: center;
}

.align-items-center > div > i {
  font-size: 35px;
  padding: 5px 0 5px 25px;
  text-align: center;
}

.align-items-end {
  text-align: center;
}

ul {
  padding: 170px 0px 0px 70px;
}

h6 {
  display: block;
  text-align: center;
  font-size: 12px;
  color: white;
  padding-top: 670px;
}

.fa-github {
  font-size: 12px;
}

#celsius-symbol:hover {
  color: white;
  text-decoration: underline;
}

#fahrenheit-symbol:hover {
  color: white;
  text-decoration: underline;
}

#fahrenheit-symbol,
#celsius-symbol {
  text-decoration: none;
}
